:root {
    --primary-color: #ebede4;
    --secondary-color: #696969;

    --primary-text: #575757;
    --primary-titles: #2b2b2b;
}

body{
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    color: var(--primary-text);
    background-color: white;
}

h1, h2, h3, h4, h5, h6{
    color: var(--primary-titles);
    font-family: 'Corben', cursive;
}

footer h1, footer h2, footer h3, footer h4, footer h5, footer h6{
    color: white;
}

h1{
    font-size: clamp(2.5rem, 2.5vw, 5.5rem);
}

.navbar, footer {
    transition: 0.6s;
    font-size: 18px;
    background-color: var(--primary-color);
    z-index: 99;
}

footer {
    position: absolute;
}

.search {
    appearance: none !important;
    border: none;
}

.page-container {
    padding-top: 98px;
}

.masthead {
    background: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.1)), url(/img/hero.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.new-post, .contact, .post-body {
    background-image: url(https://picsum.photos/1500/1000);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: relative;
  }

  .post-text {
      position: absolute;
      top: 25%;
      left: 50%;
      transform: translateX(-50%);
      background-color: #fff;
  }

  .post-description::first-letter, 
  .about-us-text p::first-letter {
    font-family:'Corben', cursive;
    float: left;
    font-size: 3rem;
    padding-right: 4px;
    line-height: 1;
  }

  .about-us-image {
      position: relative;
      height: 100%;
  }

  .about-us-text {
      position: absolute;
  }
